/*-------------------------------------------------------------------------------------------------------------------------------*/
/*This is main CSS file that contains custom style rules used in this template*/
/*-------------------------------------------------------------------------------------------------------------------------------*/
/* Template Name: "Title"*/
/* Version: 1.0 Initial Release*/
/* Build Date: 06-02-2016*/
/* Author: Title*/
/* Copyright: (C) 2016 */
/*-------------------------------------------------------------------------------------------------------------------------------*/

/*--------------------------------------------------------*/
/* TABLE OF CONTENTS: */
/*--------------------------------------------------------*/
/* 01 - RESET STYLES */

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 01 - RESET STYLES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

html{overflow-y: scroll;}
html.overflow{
    overflow: hidden;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
body *{-webkit-text-size-adjust:none; outline: none;}
.clear{clear:both; overflow:hidden; height:0px; font-size:0px; display: block;}
input:focus, select:focus, textarea:focus, button:focus {outline: none;}
input, textarea, select{font-weight: 400; -webkit-appearance: none; appearance: none; border-radius: 0; background: none; border: none; margin: 0; width: 100%;  font-family: 'Poppins', sans-serif;}
textarea{display: block; resize: none; overflow: auto;}
select::-ms-expand{display: none;}
input[type="submit"], input[type="file"]{position: absolute; left: 0; top: 0; width:100%; height:100%; opacity:0; border:none; cursor:pointer; z-index: 1;}
a, a:link, a:visited, a:active, a:hover{cursor: pointer; text-decoration: none; outline: none;}
body{font-weight: 400; font-size: 14px; line-height: 1; font-family: 'Poppins', sans-serif;}
b, strong{font-weight: 700;}
ul, ol{list-style: none;}
a{color: inherit;}
body{
    background: #181818;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 02 - GLOBAL SETTINGS */
/*-------------------------------------------------------------------------------------------------------------------------------*/
/*main*/
#content-block{position: relative; overflow: hidden;}
.container{ position: relative;}

html.overflow-hidden body{overflow: hidden;}
/*table*/
.table-view{height: 100%; width: 100%; display: table;}
.row-view{display: table-row;}
.cell-view{display: table-cell; vertical-align: middle; width: 10000px;}
/*body selection*/
body ::selection {color: #fefefe; background: #1e1e1e;}
body ::-moz-selection {color: #fefefe; background: #1e1e1e;}
/*helper classes*/
.nopadding, .nopadding>*[class*="col"]{padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0;}
.full-size{position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.fixed-background{background-size: cover; background-position: center top; background-attachment: fixed;}
body.mobile .fixed-background{background-attachment: scroll;}
/*loader*/
#loader-wrapper{position: fixed; left: 0; top: -100px; right: 0; bottom: -100px; background: #181818; z-index: 120000;}
/**/
.simple-article{color: #888; font-size: 13px; line-height: 20px;}
.simple-article.light{color: #fff;}
.simple-article.small{font-size: 11px; line-height: 18px;}
.simple-article.large{font-size: 16px; line-height: 24px;}
.simple-article>*{margin-bottom: 1em;}
.simple-article img{max-width: 100%; height: auto; display: block;}
.simple-article ol{counter-reset: number;}
.simple-article ol li{padding-left: 0; margin-bottom: 8px;}
.simple-article ol li:before{counter-increment: number; content: "#" counter(number); color: #0084ff; margin-right: 5px;}
.simple-article ul li{margin-bottom: 8px;}
.simple-article ul li:before{content: ""; width: 15px; height: 1px; background: currentColor; display: inline-block; margin: 0 6px 0 15px; vertical-align: middle; position: relative; top: -1px;}

.simple-article h1, .h1, .simple-article h2, .h2, .simple-article h3, .h3, .simple-article h4, .h4, .simple-article h5, .h5, .simple-article h6, .h6{color: #000; font-weight: 700; text-transform: uppercase; margin: 0;}
.simple-article.light h1, .simple-article.light .h1, .h1.light, .simple-article.light h2, .simple-article.light .h2, .h2.light, .simple-article.light h3, .simple-article.light .h3, .h3.light, .simple-article.light h4, .simple-article.light .h4, .h4.light, .simple-article.light h5, .simple-article.light .h5, .h5.light, .simple-article.light h6, .simple-article.light .h6, .h6.light{color: #fff;}
.simple-article h1, .h1{font-size: 70px; line-height: 70px;}
.simple-article h2, .h2{font-size: 40px; line-height: 46px;}
.simple-article h3, .h3{font-size: 30px; line-height: 34px;}
.simple-article h4, .h4{font-size: 18px; line-height: 24px;}
.simple-article h5, .h5{font-size: 16px; line-height: 22px;}
.simple-article h6, .h6{font-size: 13px; line-height: 18px;}
.simple-article a:not(.button){color: #0084ff;}
.simple-article a:hover{text-decoration: underline;}
.simple-article br{line-height: 1em;}
/**/
.button{display: inline-block; vertical-align: bottom; text-align: center; position: relative; cursor: pointer; border: 2px #0084ff solid; padding: 10px 30px; font-size: 14px; line-height: 18px; color: #0084ff; text-transform: uppercase;}
.button-close{width: 40px; height: 40px; background: #0084ff; display: inline-block; vertical-align: bottom; cursor: pointer;}
/**/
.simple-input{font-size: 14px; color: #000; height: 50px; line-height: 48px; padding: 0 30px; width: 100%; border: 1px #eee solid; transition: all .15s; -webkit-transition: all .15s;}
.simple-input:focus{border-color: #0084ff;}
.simple-input.invalid{border-color: #f11e1e!important;}
textarea.simple-input{padding-top: 10px; padding-bottom: 10px; line-height: 22px; height: 140px;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{color: #888; opacity: 1;}
input:-moz-placeholder, textarea:-moz-placeholder{color: #888; opacity: 1;}
input::-moz-placeholder, textarea::-moz-placeholder{color: #888; opacity: 1;}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{color: #888; opacity: 1;}
/**/
.simple-input.light{border-color: rgba(255,255,255,.5); color: #fff;}
.simple-input.light:focus{border-color: #fff;}
input.light::-webkit-input-placeholder, textarea.light::-webkit-input-placeholder{color: rgba(255,255,255,.8); opacity: 1;}
input.light:-moz-placeholder, textarea.light:-moz-placeholder{color: rgba(255,255,255,.8); opacity: 1;}
input.light::-moz-placeholder, textarea.light::-moz-placeholder{color: rgba(255,255,255,.8); opacity: 1;}
input.light:-ms-input-placeholder, textarea.light:-ms-input-placeholder{color: rgba(255,255,255,.8); opacity: 1;}
/**/
.checkbox-entry{display: inline-block; cursor: pointer; margin: 0; padding: 0; min-width: 20px; min-height: 20px;}
.checkbox-entry input{display: none;}
.checkbox-entry span{position: relative; font-size: 11px; line-height: 20px; padding-left: 30px; display: block; color: #888; text-transform: uppercase;}
.checkbox-entry:hover span, .checkbox-entry span a:hover{color: #555; text-decoration: none;}
.checkbox-entry span:before{content: ""; position: absolute; left: 0; top: 0; width: 20px; height: 20px; border: 1px #eee solid; border-radius: 2px; -webkit-border-radius: 2px; background: url(../img/icon-6.png) 100px center no-repeat #fff;}
.checkbox-entry input:checked+span:before{border-color: #0084ff; background-color: #0084ff; background-position: center center;}
.checkbox-entry.radio span:before{border-radius: 10px; -webkit-border-radius: 10px; background: none;}
.checkbox-entry.radio input:checked+span:before{border-color: #0084ff; background-color: #fff; border-width: 7px;}
.checkbox-entry a:hover{text-decoration: underline;}
.checkbox-entry.light span{color: rgba(255,255,255,.8);}
.checkbox-entry.light:hover span, .checkbox-entry.light span a:hover{color: #fff; text-decoration: none;}
.checkbox-entry.light.radio input:checked+span:after{content: ""; position: absolute; left: 0; top: 0; width: 20px; height: 20px; border: 2px #eee solid; border-radius: 10px; -webkit-border-radius: 10px;}


/*-------------------------------------------------------------------------------------------------------------------------------*/
/* 07 - MAP */
/*-------------------------------------------------------------------------------------------------------------------------------*/
#map-canvas{height: 550px;}

.title-mb{
    margin-bottom: 50px;
}

.plus{
    position: relative;
    width: 25px;
    height: 25px;
    display: block;
}

.plus:before{
    content: '';
    width: 25px;
    left: 0;
    height: 1px;
    background: #b0954d;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.plus:after{
    content: '';
    width: 1px;
    height: 25px;
    background: #b0954d;
    position: absolute;
    top: 0;
    right: 46%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

header{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #000;
    padding: 0 50px;
    z-index: 100000;
}

header .logo{
    position: absolute;
    left: 0;
    top: 10px;
}

header .logo a{
    display: block;
    width: 180px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

header .logo a img{
    width: 100%;
}

header ul{
    display: block;
    text-align: center;
    padding: 27px 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

header ul li{
    display: inline-block;
    margin: 0 30px;
}

header ul li a{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px;
    position: relative;
    overflow: hidden;
}

header ul li a:before{
    content: '';
    position: absolute;
    left: -100%;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 5px;
    background: #b0954d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
header ul li a:hover:before{
    left: 0;
    opacity: 1;
}


header .write-us{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    background: #b0954d;
    height: 100%;
    padding: 25px 45px;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}


header .write-us img{
    vertical-align: middle;
    margin-right: 10px;
}

header .write-us span{
    color: #fff;
    font-size: 16px;
    vertical-align: middle;
    text-transform: uppercase;
}


@media (min-width: 992px) {
    header.active .logo a{
        width: 170px;
    }

    header.active  ul{
        padding: 22px 0;
    }
    header.active .write-us{
        padding: 20px 45px;
    }
}

.bg-banner{
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 70px);
    margin-top: 70px;
    width: 90%;
    margin-left: 10%;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    position: relative;
    -webkit-transition: 0.7s ease-in-out;
    transition: 0.7s ease-in-out;
    background-position: center center;
}

.bg-banner.active{
    -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.bg-banner:before{
    content: '';
    position: absolute;
    top: 0;
    left: -13%;
    background: #000;
    opacity: 0.8;
    height: 100%;
    width: 45%;
}

.banner-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -80px;
}

.banner-content h2{
    color: #fff;
    font-size: 60px;
    line-height: 70px;
    font-weight: 500;
}

.banner-content h2 span{
    display: block;
    font-weight: 300;
    font-size: 50px;
}

.banner-content .learn-more{
    margin-top: 60px;
    position: relative;
}

.banner-content .learn-more .plus{
    position: absolute;
    top: 0;
    margin-right: 50px;
    right: 20%;
}

.banner-content a{
    display: inline-block;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
}
.banner-content a:before{
    content: '';
    width: 100%;
    height: 5px;
    position: absolute;
    background: #b0954d;
    left: 0;
    bottom: 0px;
    transition: 0.3s ease-in-out;
}

.banner-content a:after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    background: #b0954d;
    left: -100%;
    top: 0px;
    transition: 0.3s ease-in-out;
}


.banner-content a:hover:after{
    left: 0;
}

.banner-content a:hover:before{
    left: -100%;
}



section{
    margin: 100px 0;
}

section h4.title{
    color: #fff;
    font-size: 50px;
    line-height: 60px;
    position: relative;
    display: inline-block;
    /*margin-bottom: 50px;*/
    text-transform: capitalize;
}

.title .plus{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.title:before{
    content: '';
    position: absolute;
    right: -160px;
    width: 90px;
    height: 12px;
    background: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


.who-we-are p{
    color: #d5d5d5;
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
}

.wh-item{
    text-align: center;
}

.wh-item span{
    display: block;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
    font-weight: 500;
}

.cn-center{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.lg-inner .lg-item{
    max-width: 50% !important;
    margin-left: 25% !important;
}

.about-project .bg{
    background-position: left;
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
    height: 520px;
    margin-top: -80px;
}

.about-project{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 500;
}

.about-project h5{
    margin-bottom: 40px;
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 30px;
}

.about-project p{
    color: #d5d5d5;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 300;
}

.about-project ul li span:first-child{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    width: 40%;
    float: left;
    text-transform: capitalize;
}

.about-project ul li{
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.about-project ul li span:last-child{
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    width: 60%;
    float: left;
    text-transform: capitalize;
}

.about-project ul li:last-child span{
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #fff;
    width: 40%;
    float: left;
    text-transform: capitalize;
}

.about-project ul li:last-child{
    border-bottom: none;
}


.about-project ul li span.colors{
    /* border-radius: 50%; */
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

.about-project ul li .colors.green{
    background: #00601b;
}

.about-project ul li .colors.red{
    background: #ff001c;
}

.about-project ul li .colors.yellow{
    background: #ff7c00;
}

.gallery{
    width: 50%;
    float: left;
    display: block;
    overflow: hidden;
    padding: 8px;
}

.gallery .bg-gallery{
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: scale(1);
    transform: scale(1);
    position: relative;
}

.gallery .bg-gallery:before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

.gallery:hover .bg-gallery{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery:hover .bg-gallery:before{
    opacity: 0.5;
}

.bg-gallery{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
}

.gallery.size1{
    height: 300px;
}

.gallery.size2{
    float: right;
    height: 600px;
}

.gallery-wrapp{
    margin-top: 30px;
}

.contact-us{
    position: relative;
}

.contact-us .container{
    position: static;
}

.contact-us .row.map{
    height: 550px;
}

.map-wrapper{
    width: 100%;
    position: absolute;
    right: 0;
    padding-right: 0;
    max-width: 54.333333%;
}

.contact-us h5{
    color: #fff;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section.contact-us{
    margin-bottom: 0;
}

.adress-item{
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.adress-item span{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.adress-item p{
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
    padding-left: 125px;
    vertical-align: middle;
}


.adress-wrapp{
    margin-bottom: 40px;
    float: left;
    width: 100%;
    padding-right: 60px;
}

.contact-us button.write-us{
	background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    border: none;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.contact-us button.write-us:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0;
    bottom: 0;
    background: #b0954d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.contact-us button.write-us:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    left: -100%;
    top: 1px;
    background: #b0954d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.contact-us button.write-us:hover:before{
  left: -100%;
}

.contact-us button.write-us:hover:after{
  left: 0;
}

.contact-us p {
    color: #d5d5d5;
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}

footer{
    background: #000;
}

.copyright{
    padding: 22px 0;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    text-align: center;
}

.lg-download{
    display: none;}

.lg-backdrop.in{
    opacity: 0.7!important;
}


.lg-toolbar.lg-group{
    height: 70px;
    padding-top: 20px;
    opacity: 1;
    top: 70px;
    background: transparent;
}

.lg-toolbar .lg-close:after{
    font-size: 35px;
}

.row.mr{
    margin: 0 -60px;
}
.lg-outer{
    z-index: 200000000;
}
.lg-toolbar .lg-icon{
    margin-right: 20px;
}

/*-------------------------------------------------------------------------------------------------------------------------------*/
/* MEDIA QUERIES */
/*-------------------------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1199px) {
    .row.mr{
        margin: 0 -30px;
    }
    header ul li{
        margin: 0 5px;
    }
}

@media (max-width: 991px) {
    .lg-inner .lg-item{
        max-width: 80% !important;
        margin-left: 10% !important;
    }
    .title-mb{
        margin-bottom: 0;
    }
    section{
        margin: 50px 0;
    }
    .about-project .bg{
        margin-top: -80px;
    }
    section h4.title{
        margin: 35px 0;
    }
    .wh-item{
        margin-top: 35px;
    }
    header{
        padding: 0 30px;
    }
    header ul{
        display: none;
    }
    .banner-content{
        left: -45px;
    }
    .bg-banner:before{
        width: 80%;
    }
    header,
    header .write-us{
        height: 65px;
    }
    .map-wrapper{
        max-width: inherit;
    }
    .contact-us .row.map{
        height: inherit;
    }
    .map-wrapper{
        position: static;
        margin-top: 25px;
    }
    .bg-banner{
        margin-top: 60px;
        height: calc(100vh - 60px);
    }
    .contact-us button.write-us{
        margin-top: 0px;
    }
    @media all and (orientation: landscape), all and (min-width: 480px) {
        .popup-wrapper .content{
            height: 100vh;
            overflow: auto;
            padding: 100px 40px!important;
            width: 100% !important;
            margin-top: 64px;
        }
    }
}

@media (max-width: 767px) {
    .gallery-container{
        width: 100%;
        max-width: 100%;
    }
    section .plus{
        display: none;
    }
    .gallery{
        padding: 0;
    }
    header ul{
        display: none;
    }
    head{
        height: 70px;
    }
    .about-project .bg{
        margin-top: -50px;
    }
    .banner-content{
        left: -20px;
    }
    .banner-content h2{
        font-size: 32px;
        line-height: 40px;
    }
    .banner-content h2 span{
        font-size: 28px;
    }
    .bg-banner:before{
        width: 90%;
    }
    .banner-content .learn-more{
        margin-top: 30px;
    }
    section{
        margin: 0;
        margin-bottom: 20px;
    }
    section h4.title{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .about-project .bg{
        height: 250px;
        margin-top: 0;
    }
    header .write-us{
        padding: 15px 20px;
    }
    header .logo a{
        width: 100px;
    }
    header .logo{
        top: 13px;
    }
    .gallery{
        float: none;
        width: 100%;
        margin-bottom: 10px;
        height: 300px!important;
    }
    #map-canvas{
        height: 450px;
    }
    section h4.title{
        font-size: 30px;
        line-height: 35px;
    }
    .title:before{
        right: -120px;
        width: 75px;
        height: 10px;
    }
}


.popup-wrapper{
    z-index: -1;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popup-wrapper.active{
    z-index: 1000;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.popup-wrapper .content{
    position: absolute;
    top: 50%;
    right: 50%;
    z-index: 100;
    transform: translate(50%,-50%);
    text-align: center;
    padding: 70px;
    background: #000;
}

.popup-wrapper .bg-layer{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    top: 60px;
    left: 0;
}

.content h4{
    color: #fff;
    font-size: 28px;
    margin-bottom: 60px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 45px;
}


.content h4 br{
    display: none;
}

.content .form{
    margin-top: 30px;
}

.content .form input{
    height: 50px;
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 10px;
}

.content .form .your-name,
.content .form .your-email {
    float: left;
    width: 48%;
}

.content  .form span:first-child{
    margin-right: 15px;
}

.content .form textarea{
    margin-top: 50px;
    color: #fff;
    float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.close-btn{
    position: fixed;
    top: 100px;
    right: 50px;
    color: #fff;
    z-index: 100;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
}

.form input[type="submit"] {
    background: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-top: 60px;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    opacity: 1;
    padding: 0;
    margin-left: 120px;
    width: inherit;
    border-bottom: 5px solid #b0954d;
	height: 30px;
    display: inline-block;
}


.form input[type="submit"]:before{
    content: '';
    position: absolute;
    height: 5px;
    left: -100%;
    width: 100%;
    bottom: 0;
    background: #b0954d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.form input[type="submit"]:hover:before{
    left: 0;
}

@media (max-width: 1100px) {
    .content h4{
        font-size: 25px;
        line-height: 30px;
    }
    .popup-wrapper .content{
        width: 70%;
    }
}

@media (max-width: 767px) {
    .popup-wrapper .content{
        width: 100%;
    }
    .content  .form textarea,
    .content  .form input,
    .content .form .your-name,
    .content .form .your-email{
        float: none;
        width: 100%;
    }
    .popup-wrapper .bg-layer{
        border-top: 1px solid #fff;
        opacity: 1;
    }
    .form input[type="submit"]{
        width: inherit;
        margin-left: 25%;
    }
}

.close-btn{
    position: fixed;
    top: 10px;
    right: 10px;
    color: #fff;
    z-index: 100;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
}

.close-btn img{
    width: 100%;
}

.form button {
    background: transparent;
    border: none;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    margin-top: 60px;
    font-size: 18px;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.form button:before{
    content: '';
    position: absolute;
    height: 5px;
    left: -100%;
    width: 100%;
    bottom: 0px;
    background: #b0954d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.form button:hover:before{
    left: 0;
}
.close-btn.visible-sm{
    display: none;
}
@media (max-width: 767px) {
    .close-btn.hidden-sm{
        display: none;
    }
    .close-btn.visible-sm{
        display: block;
    }
    .popup-wrapper .content{
        width: 100%;
        padding: 0 40px;
        padding-top: 50px;
    }
    .popup-wrapper .content br{
        display: none;
    }

    .content h4{
        font-size: 25px;
    }

    header, header .write-us{
        height: 50px;
    }
    .popup-wrapper .bg-layer{
        top: 50px;
    }
    .bg-banner{
        margin-top: 50px;
        height: calc(100vh - 50px);
    }
    .close-btn{
        top: 60px;
        right: 10px;
    }
    .bg-banner{
        background-position: 65%;
    }
    .map-wrapper{
        padding-left: 0;
    }
    .about-project h4{
        margin: 30px 0;
    }

    .about-project h4,
    .contact-us h5{
        font-size: 19px;
    }
    .adress-item span{
        font-size: 16px;
    }
    .who-we-are{
        margin-top: 20px;
    }
}


@keyframes spin {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -3px) rotate(36deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(72deg);
    }
    30% {
        transform: translate(1px, 2px) rotate(108deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(144deg);
    }
    50% {
        transform: translate(-1px, 3px) rotate(180deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(216deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(252deg);
    }
    80% {
        transform: translate(-2px, -1px) rotate(288deg);
    }
    90% {
        transform: translate(2px, 1px) rotate(324deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(360deg);
    }
}
@keyframes speed {
    0% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -3px) rotate(-1deg);
    }
    20% {
        transform: translate(-2px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 3px) rotate(-1deg);
    }
    60% {
        transform: translate(-1px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-2px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(2px, 1px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}
@keyframes strikes {
    from {
        left: 25px;
    }
    to {
        left: -80px;
        opacity: 0;
    }
}
@keyframes dots {
    from {
        width: 0px;
    }
    to {
        width: 15px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fadeIn, .loading-window {
    animation: fadeIn 0.4s both;
}

.loading-window {
    background: #333;
    border-radius: 6px;
    border: 3px solid #ffe4e1;
    color: #ffe4e1;
    height: 200px;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 99;
}
.loading-window .text {
    font-size: 16px;
    position: absolute;
    width: auto;
    top: 75%;
    left: 38%;
    margin: 0 auto;
}
.loading-window .dots {
    display: inline-block;
    width: 5px;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 1.5s linear infinite;
    transition: 1;
}

.car {
    position: absolute;
    width: 117px;
    height: 42px;
    left: 92px;
    top: 70px;
}
.car .strike {
    position: absolute;
    width: 11px;
    height: 1px;
    background: #ffe4e1;
    animation: strikes 0.2s linear infinite;
}
.car .strike2 {
    top: 11px;
    animation-delay: 0.05s;
}
.car .strike3 {
    top: 22px;
    animation-delay: 0.1s;
}
.car .strike4 {
    top: 33px;
    animation-delay: 0.15s;
}
.car .strike5 {
    top: 44px;
    animation-delay: 0.2s;
}
.car-detail {
    position: absolute;
    display: block;
    background: #ffe4e1;
    animation: speed 0.5s linear infinite;
}
.car-detail.spoiler {
    width: 0;
    height: 0;
    top: 7px;
    background: none;
    border: 20px solid transparent;
    border-bottom: 8px solid #ffe4e1;
    border-left: 20px solid #ffe4e1;
}
.car-detail.back {
    height: 20px;
    width: 92px;
    top: 15px;
    left: 0px;
}
.car-detail.center {
    height: 35px;
    width: 75px;
    left: 12px;
    border-top-left-radius: 30px;
    border-top-right-radius: 45px 40px;
    border: 4px solid #ffe4e1;
    background: none;
    box-sizing: border-box;
}
.car-detail.center1 {
    height: 35px;
    width: 35px;
    left: 12px;
    border-top-left-radius: 30px;
}
.car-detail.front {
    height: 20px;
    width: 50px;
    top: 15px;
    left: 67px;
    border-top-right-radius: 50px 40px;
    border-bottom-right-radius: 10px;
}
.car-detail.wheel {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 20px;
    left: 12px;
    border: 3px solid #333;
    background: linear-gradient(45deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(-45deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(90deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), linear-gradient(0deg, transparent 45%, #ffe4e1 46%, #ffe4e1 54%, transparent 55%), radial-gradient(#ffe4e1 29%, transparent 30%, transparent 50%, #ffe4e1 51%), #333;
    animation-name: spin;
}
.car-detail.wheel2 {
    left: 82px;
}


/*add new style*/
.popup-wrapper.success .content{
    padding: 150px;
    width: 750px;
}

.success img{
    width: 50px;
    display: inline-block;
    margin-bottom: 20px;
}

.popup-wrapper.success span{
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    cursor: pointer;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-bottom: 5px solid #b0954d;
    padding-bottom: 5px;
    backface-visibility: hidden;
}


.popup-wrapper.success span:hover{
    opacity: 0.5;
}

.success h4{
    margin-bottom: 15px;
}

.success p{
    color: #fff;
}

.close-btn img{
    width: 100%;
}


@media (max-width: 767px) {
    .about-project h5 {
        margin-bottom: 20px;
    }
}
